

/**/
/**/

.e8zbici0{
    display: none!important ;
}

[data-testid="stAppViewContainer"] {    /*Fondo general*/
    background-color: #3d3d3d;
}

h1{                                     /*Titulo*/
    color: #BA9F2B;
}

[data-testid="stHeader"]{               /*Header*/
    background-color: #3d3d3d;
}

[data-testid="stSidebarNav"] {              /*Navegador de archivos*/
    background-image: linear-gradient(#3d3d3d,#3d3d3d);
    color: white;
}

.css-1ope8sv {              /*Fondo sidebar*/
    background-image: linear-gradient(#F6CD23,#3d3d3d);
    color: white;
}

[data-testid="stExpander"]{             /*Bloques grupos*/
    background-color: #BA9F2B;
    color: white;
}

[data-testid="stHorizontalBlock"]{         /**/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

[data-testid="stMarkdownContainer"]{
    display: contents;
}

[class="css-1cpxqw2 edgvbvh9"]{         /*botón guardar cambios*/
    background-color: #BA9F2B;
    color: white;
}

[class="block-container css-18e3th9 egzxvld2"]{
    padding-left: 8em;
    padding-right: 8rem;
}

.streamlit-expanderHeader {             /*Expander header: Grupo A, Grupo B, etc.*/
    color: rgb(5, 5, 5);
    text-align: center;
}

span{                   /*texto en general dentro de spans*/
    color: white;
}

.stApp{                   /*texto en general*/
    text-decoration: none;
    color: #F6CD23;
    font-weight: 600;
}

.div_partido {         /*texto nombre pais*/
    color: #3d3d3d;
    text-align: center;
}

.apuesta {         /*texto valor apuesta bwin*/
    color: white;
}


.vs {         /*texto vs*/
    color: 3d3d3d;
}


/*[data-testid="stSidebarNav"]{
    color: white;
}*/



[class="st-av st-aw st-ax st-ay st-cf st-cm st-b7 st-b4 st-b5 st-cn st-co st-cp st-cq st-c2 st-cr st-cs st-ct st-cu st-cv st-b2 st-cw st-bt st-cx st-cy st-cz st-d0 st-d1"]{            /*Esto es el selector de ronda*/
    background-color: #3d3d3d;
    color: white;
    border-color: #000000;
}
svg.st-dh.st-du.st-bt.st-dv.st-dw.st-bu{        /*flechita del selector de fecha*/
    color: white;
}

/*[data-testid="column"]{
    vertical-align: middle;
    margin: auto;
}*/


.css-15tx938 {  /*Esto es para los label de number_input. por ej. el resultado*/
    margin: 0;
    min-height: 0
}
p {                     /*Para centrar el texto*/
    margin: auto;
    vertical-align: middle;
}
.pais {                     /*Para centrar el texto*/
    margin: auto;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

/*.st-bu {
    min-width: 5px;
}*/