/*Para sacar el menu que viene por defecto en streamlit (Gracias Mati J)*/
.e8zbici0{            
    display: none!important ;
}

/*Para que no se vea el "hecho con streamlit"*/
footer {
    display: none;
}
[class="css-hke02f egzxvld0"] {
    display: none;
}

/*texto nombre pais*/
.div_partido_prueba {         
    /*color: #3d3d3d;*/
    text-align: center;
    display: flex;
    height: 40px;
}

/*texto nombre pais en solapa semis*/
.div_partido_semis {         
    /*color: #3d3d3d;*/
    text-align: left;
    display: flex;
    height: 40px;
}

/*texto ratio en solapa semis*/
.div_partido_semis_ratio {         
    /*color: #3d3d3d;*/
    text-align: right;
    display: flex;
    height: 40px;
}

/*Input numero*/
[data-baseweb="input"] {
    min-width: 50%;
}
/*Input numero*/
[class="css-76z9jo e1jwn65y2"] {
    max-width: 50%;
}

/*Regula el tamaño maximo de la imagen - foto - bandera*/
[data-testid="stImage"] {       
    max-width: 80%;
}

/*padding o margenes de cada sección de grupos*/
.css-18e3th9{
    padding-left: 2rem;
    padding-right: 2rem;
}



/*Esto es para los label de number_input. por ej. el resultado*/
.css-15tx938{  
    margin: 0;
    min-height: 0
}
.css-dfoau2{  
    margin: 0;
    min-height: 0
}
.effi0qh3 {  
    margin: 0;
    min-height: 0
}





/*Para centrar el texto*/
p {                     
    margin: auto;
    vertical-align: middle;
}
/*Para centrar el texto*/
.pais {                     
    margin: auto;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
}


/*texto valor apuesta bwin. Solo para el sobreo de la apuesat actual usada*/
.apuesta_elegida {         
    color: #F1BC18;
    background-color: #797979;
    font-weight: bold;
}


/*Para centrar el texto de los titulos dentro de cada grupo*/
.Titulos {                     
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
}



 /* Tooltip*/
  /* Tooltip text */
  .pais .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .pais:hover .tooltiptext {
    visibility: visible;
  }


  /* Barrita espaciadora de los titulos */
  hr {
    margin: 1em 0px;
  }

  .Titulosreco {
      color: #F1BC18;
  }

  .Titulosmarca {
    color: #FBFBFB;
}


/* Todo esto es para ocultar la sidebar */
[class="css-wek95x e1fqkh3o11"] {
    width: 0px;
    min-width: 0;
    display:none;
    background-color: #3d3d3d;
}
[class="css-1ope8sv e1fqkh3o4"] {
    width: 0px;
    min-width: 0;
    display:none;
    background-color: #3d3d3d;
}
[class="css-67ut48 e1fqkh3o11"] {
    width: 0px;
    min-width: 0;
    display:none;
    background-color: #3d3d3d;
}


.logomundial {
    max-width: 100%;
}


/* Este es el color de cada expander (cada menu de grupos) */
.st-ds {
    background-color: #7B1034;
}
.st-c6 {
    background-color: #7B1034;
}


/* Este es DIV del botón de guardar */
[class="row-widget stButton"] {
    width: 230px;
    justify-content: flex-end;
    display: flex;
}

/* Este es el botón de guardar */
[class="css-1fhqdum edgvbvh9"]{
    background-color: #797979;
}



/* Estas son las clases para el código de colores de los puntos por partido en la página del Simulador */
.class-pendiente {
    color: rgb(138, 138, 138);
}

.class-perdedor {
    color: red;
}

.class-ganador {
    color: rgb(9, 255, 0);
}

.class-ganador-2 {
    color: rgb(9, 255, 0);
}

